@import url('https://fonts.googleapis.com/css?family=Bungee');
//Font family
$ff: 'Bungee',
cursive;
// Couleur
$colorW: white;
$color1: #EF6C00;
$color2: #212121;
$color3: #263238;
$color4: #E0E0E0;
// Mise en page
$padding: 1.2rem;
$bottom: 2rem;
//boutton cliquable
$widthNav: 60%;
$widthButton: 10rem;
$heightButton: 1rem;
$radius: 1rem;
//score
$widthScore: 5rem;
$heightScore: 3rem;
$padding: 1rem;