@import url("https://fonts.googleapis.com/css?family=Bungee");
#content, .score {
  margin: 0 auto; }

#content {
  width: 80%; }

.score {
  margin-top: 2rem;
  width: 5rem;
  height: 3rem; }
  .score span {
    text-align: center;
    line-height: 3rem; }
