@import 'import/_variables.scss';
%center {
    margin: 0 auto;
}

#content {
    width: 80%;
    @extend %center;
}

//Score
.score {
    margin-top: $bottom;
    width: $widthScore;
    height: $heightScore;
    @extend %center;
    span {
        text-align: center;
        line-height: 3rem;
    }
}