@import 'import/_variables.scss';
@import 'import/_mixins.scss';
//Extends
%title {
    color: $colorW;
    font-family: $ff;
    font-size: 2.2rem;
}

//thème de base
body {
    background: $color1;
    header {
        background: $color2;
        margin-bottom: $bottom;
        h1 {
            text-align: center;
            padding: $padding;
            @extend %title;
        }
    }
}

//Canvas
canvas {
    margin: 0 auto;
}

#navigation {
    width: $widthNav;
    margin: 0 auto;
    margin-bottom: $bottom;
    text-align: center;
}

//liens cliquable
.button {
    @include button();
    @include border-radius($radius);
}

a {
    color: $colorW;
}

//Score
.score {
    background: $color4;
    font-size: 1.2rem;
    @include border-radius($radius);
}